.quiz-page-teilsein-logo {
  background-image: url("images/TeilSeinPink.png");
  height: 30px;
  width: 145px;
  position: absolute;
  top: 30px;
  left: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.quiz-page-title {
  font-size: 28px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 75px;
  left: 30px;
}

.quiz-page-question {
  background-color: white;
  border: 1px solid #b40078;
  position: absolute;
  height: 100px;
  width: 40%;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 18px;
  font-family: Calibri;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.quiz-page-answer-panel {
  padding: 2%;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.80);
  box-sizing: border-box;
}

.quiz-page-answer-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 10%;
  width: 70%;
  float: left;
}

@media only screen and (max-width: 1200px) {
  .quiz-page-answer-wrapper {
    margin: 0;
  }
}

.quiz-page-answer {
  background-color: #bfbfbf;
  margin: 2% 3%;
  padding: 2% 5%;
  min-height: 50px;
  font-family: Calibri;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid #bfbfbf;
}

@media only screen and (max-width: 800px) {
  .quiz-page-answer {
    font-size: 12px;
  }
}

.quiz-page-answer.selected {
  border: 1px solid #b40078;
}

.quiz-page-submit {
  display: flex;
  justify-content: space-around;
}

  .quiz-page-submit > button {
    border: none;
    color: white;
    background-color: #8bb90f;
    padding: 2% 5%;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-weight: bold;
    font-size: 18px;
    font-family: Calibri;
  }
